.jumbotron {
    background-color: aquamarine;
    color: black;

}


footer {
padding: 10px, 10px, 0, 0px;
background-color: coral;
margin-top: 0px;
}


.card-hotel {
	flex: 1, 200 px;
	padding: 2px 0px 2px 0px;
	margin-top: 10px;
}

.btn-reserva {
	width: 100%
	}

.tab-content :{
	padding-top: 10px;
}

.footer address-icon{
	padding-right: 10px;
}

.card-img-top{
  width:20%;
  height: 80px;
  margin-bottom: 10px; 
}


.img-fluid{
	width:100%;
  height: 450px;
}



.img-fluid {
width: 80%;
}

.row {
	padding-top: 30px;
}


.carousel.slide{
	width:100%;
  height: 450px;
}