
.jumbotron {
  background-color: #7fffd4 ;
  color: black;
}
footer {
    padding: 10px 10px 0 10px;
    background-color: #C8A2C8;
    color: black;
    margin-bottom: 0px;
    margin-top: 10px
}

.card-hotel {
	flex: 1, 200 px;
	padding: 2px 0px 2px 0px;
	margin-top: 10px;
}

.btn-reserva {
	width: 100%
	


}

.footer address-icon{
	padding-right: 10px;
}

.card-img-top{
  width:10%;
  height: 10;
}
